/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Gotham-bold;
  src: url(assets/fonts/Gotham-Font/Gotham-Bold.otf) format("opentype");
}

@font-face {
  font-family: Gotham-book;
  src: url(assets/fonts/Gotham-Font/GothamBook.ttf) format("truetype");
}

html, body { max-height: 100%; }
body { margin: 0; font-family: Gotham-book, "Helvetica Neue", sans-serif; }

.green-snackbar {
  background: #4caf50;
  color: white;
}
